{% extends 'base.html' %}

{% block 'site' %}
	<div class="login">
<h1>авторизация</h1>
        <form action="{% url 'login' %}" method="post">
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">войти</button>
            {% csrf_token %}
        </form>
        <a href="{% url 'index' %}">регистрация</a>
    </div>

<iframe width="720" height="405" src="https://rutube.ru/play/embed/350421f9e11c95f39eef0ac9a41ae352/?skinColor=5e35b1" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% endblock %}

